kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
  name: elastifile
  ownerReferences:
  - apiVersion: $app_api_version
    blockOwnerDeletion: true
    kind: Application
    name: $name
    uid: $app_uid
provisioner: elastifile.com/nfs
parameters:
  nfsServer: $nfs_addr
  restURL: $emanage_addr
  username: $emanage_user
  secretName: "elastifile-rest"
  secretNamespace: $namespace
